@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --white-text: #FFFFFF;

  --primary-light: #344955;
  --primary-dark: #35374B;
  --secondary: #78A083;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  margin-bottom: 5rem;
  gap: 1rem;
  display: none;
}


.game-container h1 {
  font-family: "Press Start 2P", serif;
  font-size: 2.5rem;
  color: var(--white-text);
  text-align: center;
}

.game-container h2 {
  font-family: "Press Start 2P", serif;
  font-size: 2rem;
  color: var(--white-text);
}

.board-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #747474;
  border-radius: 10px;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.board svg {
  fill: #78A083;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: var(--primary-dark);
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 1;
}

.interface {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.interface button {
  width: 10rem;
  height: 5rem;
  font-family: "Press Start 2P", serif;
  font-size: 1.7rem;
  text-align: center;
  background-color: var(--secondary);
  color: var(--white-text);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.interface button:hover {
  opacity: 0.9;
}

.interface button:active {
  scale: 0.95;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell:hover {
  opacity: 0.9;
}

.cell:active {

  opacity: 0.8;
}

[data-cell="0"] {
  border-radius: 10px 0 0 0;
}

[data-cell="2"] {
  border-radius: 0 10px 0 0;
}

[data-cell="6"] {
  border-radius: 0 0 0 10px;
}

[data-cell="8"] {
  border-radius: 0 0 10px 0;
}


.input {
  width: clamp(200px, 600px, 80%);
  height: 400px;
  background-color: var(--secondary);
  font-family: "Press Start 2P", serif;
  color: var(--white-text);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

#choose-names {
  width: auto;
  height: calc(100% - 4rem);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-self: center;
  gap: 1rem;
}

.input .wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.input h2 {
  padding-top: 2rem;
  font-family: "Press Start 2P", serif;
  font-size: 2.2rem;
  color: var(--white-text);
  text-align: center;
}

#choose-names form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#choose-names input {
  border: none;
  outline: none;
  height: 2.5rem;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem;
}

#play-btn {
  width: 14rem;
  height: 7rem;
  font-size: 2.2rem;
  background-color: var(--primary-dark);
  grid-column: span 2;
  display: flex;
  align-items: center;
}